---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. Use this dataset to answer the questions below.

In [374]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [3]:
df.shape

(146, 16)

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [375]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [5]:
df['Gold'].idxmax(axis=0)

'United States'

In [6]:
def answer_one():
    return df['Gold'].idxmax(axis=0)

In [376]:
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [7]:
(df['Gold'] - df['Gold.1']).abs().idxmax()

'United States'

In [8]:
def answer_two():
    return (df['Gold'] - df['Gold.1']).abs().idxmax()

In [377]:
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [9]:
# I need to first apply boolean masking here
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [18]:
df1 = df[(df['Gold'] >1) & (df['Gold.1'] >1)]
(df1['Gold'] - df1['Gold.1']).abs().idxmax()

'United States'

In [19]:
def answer_three():
    df1 = df[(df['Gold'] >1) & (df['Gold.1'] >1)]
    return (df1['Gold'] - df1['Gold.1']).abs().idxmax()

In [378]:
answer_three()

'United States'

### Question 4
Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [20]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [23]:
def answer_four():
    df['Points'] = (3*df['Gold'])+(2*df['Silver'])+(1*df['Bronze'])+(3*df['Gold.1'])+(2*df['Silver.1'])+(1*df['Bronze.1'])+(3*df['Gold.2'])+(2*df['Silver.2'])+(1*df['Bronze.2'])
    return df['Points']

In [379]:
answer_four()

Afghanistan                             4
Algeria                                54
Argentina                             260
Armenia                                32
Australasia                            44
Australia                            1846
Austria                              1138
Azerbaijan                             86
Bahamas                                48
Bahrain                                 2
Barbados                                2
Belarus                               308
Belgium                               552
Bermuda                                 2
Bohemia                                10
Botswana                                4
Brazil                                368
British West Indies                     4
Bulgaria                              822
Burundi                                 6
Cameroon                               24
Canada                               1692
Chile                                  48
China                                2240
Colombia                               58
Costa Rica                             14
Ivory Coast                             4
Croatia                               134
Cuba                                  840
Cyprus                                  4
                                    ...
Spain                                 536
Sri Lanka                               8
Sudan                                   4
Suriname                                8
Sweden                               2434
Switzerland                          1260
Syria                                  12
Chinese Taipei                         64
Tajikistan                              8
Tanzania                                8
Thailand                               88
Togo                                    2
Tonga                                   4
Trinidad and Tobago                    54
Tunisia                                38
Turkey                                382
Uganda                                 28
Ukraine                               440
United Arab Emirates                    6
United States                       11368
Uruguay                                32
Uzbekistan                             76
Venezuela                              36
Vietnam                                 8
Virgin Islands                          4
Yugoslavia                            342
Independent Olympic Participants        8
Zambia                                  6
Zimbabwe                               36
Mixed team                             76
Name: Points, dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [24]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [79]:
c_df1 = census_df.copy()
c_df1.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [80]:
c_df1 = c_df1.set_index(['STNAME'])

In [81]:
c_df1.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4779736,4780127,4785161,4801108,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alabama,50,3,6,1,3,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Alabama,50,3,6,1,5,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Alabama,50,3,6,1,7,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [85]:
c_df1.index.value_counts().idxmax()

'Texas'

In [86]:
def answer_five():
    c_df1 = census_df.copy()
    c_df1 = c_df1.set_index(['STNAME'])
    return c_df1.index.value_counts().idxmax()

In [380]:
answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)?

*This function should return a list of string values.*

In [244]:
c_df2 = census_df[['STNAME','CTYNAME','CENSUS2010POP']].copy()
c_df2.head()

    STNAME         CTYNAME  CENSUS2010POP
0  Alabama         Alabama        4779736
1  Alabama  Autauga County          54571
2  Alabama  Baldwin County         182265
3  Alabama  Barbour County          27457
4  Alabama     Bibb County          22915

In [267]:
c_df2 = c_df2.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False)
c_df2_1 = c_df2.set_index('STNAME').copy()
c_df2_1.head()

                   CTYNAME  CENSUS2010POP
STNAME
Wyoming            Wyoming         563626
Wyoming     Laramie County          91738
Wyoming     Natrona County          75450
Wyoming    Campbell County          46133
Wyoming  Sweetwater County          43806

In [283]:
c_df2_1.index.unique()

array(['Wyoming', 'Wisconsin', 'West Virginia', 'Washington', 'Virginia',
       'Vermont', 'Utah', 'Texas', 'Tennessee', 'South Dakota',
       'South Carolina', 'Rhode Island', 'Pennsylvania', 'Oregon',
       'Oklahoma', 'Ohio', 'North Dakota', 'North Carolina', 'New York',
       'New Mexico', 'New Jersey', 'New Hampshire', 'Nevada', 'Nebraska',
       'Montana', 'Missouri', 'Mississippi', 'Minnesota', 'Michigan',
       'Massachusetts', 'Maryland', 'Maine', 'Louisiana', 'Kentucky',
       'Kansas', 'Iowa', 'Indiana', 'Illinois', 'Idaho', 'Hawaii',
       'Georgia', 'Florida', 'District of Columbia', 'Delaware',
       'Connecticut', 'Colorado', 'California', 'Arkansas', 'Arizona',
       'Alaska', 'Alabama'], dtype=object)

In [291]:
funct_q6 = lambda name: c_df2_1.loc[name][0:3].sum()

In [297]:
srs_q6 = pd.Series(c_df2_1.index.unique())

In [306]:
srs_q6_1 = srs_q6.map(funct_q6)

In [331]:
srs_q6_1[0].CENSUS2010POP

730814

In [334]:
empty_lst=list()
i=0
for name in c_df2_1.index.unique():
    empty_lst.append([name,srs_q6_1[i].CENSUS2010POP])
    i=i+1

In [364]:
empty_df = pd.DataFrame(empty_lst,columns=['STATE','TOTPOP'])

In [368]:
empty_df = empty_df.sort_values(by='TOTPOP',ascending=False)

In [372]:
list(empty_df['STATE'][0:3])

['California', 'Texas', 'New York']

In [373]:
def answer_six():
    c_df2 = census_df[['STNAME','CTYNAME','CENSUS2010POP']].copy()
    c_df2 = c_df2.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False)
    c_df2_1 = c_df2.set_index('STNAME').copy()
    funct_q6 = lambda name: c_df2_1.loc[name][0:3].sum()
    srs_q6 = pd.Series(c_df2_1.index.unique())
    srs_q6_1 = srs_q6.map(funct_q6)
    empty_lst=list()
    i=0
    for name in c_df2_1.index.unique():
        empty_lst.append([name,srs_q6_1[i].CENSUS2010POP])
        i=i+1
    empty_df = pd.DataFrame(empty_lst,columns=['STATE','TOTPOP'])
    empty_df = empty_df.sort_values(by='TOTPOP',ascending=False)
    return list(empty_df['STATE'][0:3])

In [381]:
answer_six()

['California', 'Texas', 'New York']

### Question 7
Which county has had the largest change in population within the five year period (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all five columns)?

*This function should return a single string value.*

In [207]:
census_df.head()
col_q7 = ['STNAME','CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df_q7 = census_df[col_q7].copy()
df_q7.head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4785161,4801108,4816089,4830533,4846411,4858979
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583

In [216]:
df_q7['pop_diff']=(df_q7['POPESTIMATE2010']-df_q7['POPESTIMATE2011']-df_q7['POPESTIMATE2012']-df_q7['POPESTIMATE2013']-df_q7['POPESTIMATE2014']-df_q7['POPESTIMATE2015']).abs()
df_q7.head()

,STNAME,CTYNAME,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,pop_diff
0,Alabama,Alabama,4785161,4801108,4816089,4830533,4846411,4858979,19367959
1,Alabama,Autauga County,54660,55253,55175,55038,55290,55347,221443
2,Alabama,Baldwin County,183193,186659,190396,195126,199713,203709,792410
3,Alabama,Barbour County,27341,27226,27159,26973,26815,26489,107321
4,Alabama,Bibb County,22861,22733,22642,22512,22549,22583,90158

In [221]:
df_q7 = df_q7.set_index(['CTYNAME'])
df_q7['pop_diff'].idxmax()

'California'

In [222]:
def answer_seven():
    col_q7 = ['STNAME','CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
    df_q7 = census_df[col_q7].copy()
    df_q7['pop_diff']=(df_q7['POPESTIMATE2010']-df_q7['POPESTIMATE2011']-df_q7['POPESTIMATE2012']-df_q7['POPESTIMATE2013']-df_q7['POPESTIMATE2014']-df_q7['POPESTIMATE2015']).abs()
    df_q7 = df_q7.set_index(['CTYNAME'])
    return df_q7['pop_diff'].idxmax()

In [382]:
answer_seven()

'California'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [232]:
census_df.head()
col_q8 = ['REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']
df_q8 = census_df[col_q8].copy()
df_q8 = df_q8[df_q8['POPESTIMATE2015'] > df_q8['POPESTIMATE2014']]
df_q8 = df_q8[df_q8['REGION']<3]
df_q8.head()

     REGION       STNAME           CTYNAME  POPESTIMATE2014  POPESTIMATE2015
315       1  Connecticut  Fairfield County           945816           948053
618       2     Illinois  Champaign County           207424           208861
625       2     Illinois   Crawford County            19375            19414
628       2     Illinois    De Witt County            16246            16247
633       2     Illinois  Effingham County            34321            34371

In [241]:
str_funct = lambda CTYNAME:CTYNAME.startswith('Washington')
df_q8[df_q8['CTYNAME'].map(str_funct)]

,REGION,STNAME,CTYNAME,POPESTIMATE2014,POPESTIMATE2015
896,2,Iowa,Washington County,22087,22247
1419,2,Minnesota,Washington County,249320,251597
2345,1,Pennsylvania,Washington County,208175,208261
2355,1,Rhode Island,Washington County,126430,126517
3163,2,Wisconsin,Washington County,133301,133674

In [390]:
def answer_eight():
    col_q8 = ['REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']
    df_q8 = census_df[col_q8].copy()
    df_q8_1 = df_q8[df_q8['POPESTIMATE2015'] > df_q8['POPESTIMATE2014']]
    df_q8_2 = df_q8_1[df_q8_1['REGION']<3]
    str_funct = lambda CTYNAME:CTYNAME.startswith('Washington')
    df_q8_3 = df_q8_2[df_q8_2['CTYNAME'].map(str_funct)]
    return df_q8_3[['STNAME','CTYNAME']]

In [391]:
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County