In [1]:
# importing packages
import pandas as pd
import numpy as np

In [2]:
# Reading the file Energy Indicators.xls
energy = pd.read_excel('Energy Indicators.xls',skiprows=17,na_values='...',skip_footer=38,parse_cols=[2,3,4,5,6] 
                       ,names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewables'])

In [3]:
energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewables']

In [4]:
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewables
0     Afghanistan          321.0                      10.0     78.669280
1         Albania          102.0                      35.0    100.000000
2         Algeria         1959.0                      51.0      0.551010
3  American Samoa            NaN                       NaN      0.641026
4         Andorra            9.0                     121.0     88.695650

In [5]:
energy.tail()

,Country,Energy Supply,Energy Supply per Capita,% Renewables
222,Viet Nam,2554.0,28.0,45.32152
223,Wallis and Futuna Islands,0.0,26.0,0.00000
224,Yemen,344.0,13.0,0.00000
225,Zambia,400.0,26.0,99.71467
226,Zimbabwe,480.0,32.0,52.53612

In [6]:
energy.shape

(227, 4)

In [7]:
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [8]:
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewables
0     Afghanistan   3.210000e+08                      10.0     78.669280
1         Albania   1.020000e+08                      35.0    100.000000
2         Algeria   1.959000e+09                      51.0      0.551010
3  American Samoa            NaN                       NaN      0.641026
4         Andorra   9.000000e+06                     121.0     88.695650

In [9]:
energy = energy.reset_index()

In [10]:
energy['Country_M'] = energy['Country']

In [11]:
energy = energy.set_index('Country')

In [12]:
energy.set_value('Republic of Korea','Country_M','South Korea')
energy.set_value('United States of America','Country_M','United States')
energy.set_value('United Kingdom of Great Britain and Northern Ireland','Country_M','United Kingdom')
energy.set_value('China, Hong Kong Special Administrative Region','Country_M','Hong Kong')
energy.head(5)

,index,Energy Supply,Energy Supply per Capita,% Renewables,Country_M
Country,,,,,
Afghanistan,0.0,3.210000e+08,10.0,78.669280,Afghanistan
Albania,1.0,1.020000e+08,35.0,100.000000,Albania
Algeria,2.0,1.959000e+09,51.0,0.551010,Algeria
American Samoa,3.0,NaN,NaN,0.641026,American Samoa
Andorra,4.0,9.000000e+06,121.0,88.695650,Andorra

In [13]:
# checking the Country_M column to see if the change got reflected
energy.loc['Republic of Korea']

index                               164
Energy Supply                1.1007e+10
Energy Supply per Capita            221
% Renewables                    2.27935
Country_M                   South Korea
Name: Republic of Korea, dtype: object

In [14]:
# removing () from Country names
for names in energy.index:
    if names.find('(') > -1 or names.find(')') >-1:
        #print(names[:names.find('(')])
        energy.set_value(names,'Country_M',names[:names.find('(')])

In [ ]:
# importing world_bank data
GDP = pd.read_csv('world_bank.csv',skiprows=4)

In [ ]:
GDP.head()

In [ ]:
GDP.columns

In [ ]:
GDP['Country_M'] = GDP['Country Name']
GDP = GDP.set_index('Country Name')

In [ ]:
GDP.head()

In [ ]:
GDP.set_value('Korea, Rep.','Country_M','South Korea')
GDP.set_value('Iran, Islamic Rep.','Country_M','Iran')
GDP.set_value('Hong Kong SAR, China','Country_M','Hong Kong')

In [ ]:
GDP.reset_index(drop=True,inplace=True)

In [ ]:
GDP.columns = ['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       'Country']

In [ ]:
GDP.head()

In [ ]:
ScimEn = pd.read_excel('scimagojr.xlsx')

In [ ]:
ScimEn.head()

In [ ]:
GDP_col_needed = list(np.arange(2006,2016,1))
GDP_col_needed = list(map(str,GDP_col_needed))
GDP_col_needed.append('Country')
GDP_col_needed

In [ ]:
GDP_DF2 = GDP[GDP_col_needed]
GDP_DF2.head(5)

In [ ]:
energy.head(2)

In [ ]:
ScimEn.head(2)

In [ ]:
GDP_DF2.head(2)

In [ ]:
GDP_final = GDP_DF2

In [ ]:
GDP_final.shape

In [ ]:
sci_Condi = (ScimEn.Rank >= 0) & (ScimEn.Rank <= 15)

In [ ]:
sci_Condi_final = ScimEn[sci_Condi]

In [ ]:
sci_Condi_final.shape

In [ ]:
energy_gdp_df = pd.merge(energy,GDP_final,how='inner',left_on='Country',right_on='Country',copy=True)

In [ ]:
energy_gdp_df.shape

In [ ]:
energy_gdp_df.head(2)

In [ ]:
final_df = pd.merge(energy_gdp_df,sci_Condi_final,how='inner',left_on='Country',right_on='Country',copy=True)

In [ ]:
final_df.shape

In [ ]:
final_df

In [ ]:
energy.columns

In [ ]:
GDP_final.columns

In [ ]:
sci_Condi_final.columns

In [137]:
def energy():
    energy = pd.read_excel('Energy Indicators.xls',skiprows=17,na_values='...',skip_footer=38,parse_cols=[2,3,4,5,6] 
                       ,names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewables'])
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewables']
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000
    
    energy['Country_M'] = energy['Country']
    energy = energy.set_index('Country')
    
    for country in energy.index:
        if (country.endswith(('1','2','3','4','5','6','7','8','9','0'))):
            country_edit = country[:-1]
            print('Country1>>',country_edit)
            if (country_edit.endswith(('1','2','3','4','5','6','7','8','9','0'))):
                country_edit = country_edit[:-1]
                print('Country2>>>',country_edit)
                energy.set_value(country,'Country_M',country_edit)
    
    #energy['Country_E'] = energy['Country_M']
    #energy = energy.set_index('Country_M')
    #print(energy.columns)
    
#     dicts = {'Republic of Korea': 'South Korea',
#                'United States of America': 'United States',
#                'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
#                'China, Hong Kong Special Administrative Region': 'Hong Kong'}
#     for country in energy.index:
#         for key,value in dicts.items():
#             #print('country>>>>',country)
#             #print('key>>>>',key)
#             if (key==country):
#                 energy.set_value(key,'Country_E',value)
        
#     # removing () from Country names
#     for names in energy.index:
#         if names.find('(') > -1 or names.find(')') >-1:
#             #print(names[:names.find('(')])
#             energy.set_value(names,'Country_E',names[:names.find('(')])
#     energy.reset_index(drop=True,inplace=True)
#     energy.columns = ['Energy Supply', 'Energy Supply per Capita', '% Renewables','Country']
    return energy

In [138]:
energy_df = energy()

Country1>> Australia
Country1>> China
Country1>> China, Hong Kong Special Administrative Region
Country1>> China, Macao Special Administrative Region
Country1>> Denmark
Country1>> France
Country1>> Greenland
Country1>> Indonesia
Country1>> Italy
Country1>> Japan1
Country2>>> Japan
Country1>> Kuwait1
Country2>>> Kuwait
Country1>> Netherlands1
Country2>>> Netherlands
Country1>> Portugal1
Country2>>> Portugal
Country1>> Saudi Arabia1
Country2>>> Saudi Arabia
Country1>> Serbia1
Country2>>> Serbia
Country1>> Spain1
Country2>>> Spain
Country1>> Switzerland1
Country2>>> Switzerland
Country1>> Ukraine1
Country2>>> Ukraine
Country1>> United Kingdom of Great Britain and Northern Ireland1
Country2>>> United Kingdom of Great Britain and Northern Ireland
Country1>> United States of America2
Country2>>> United States of America

In [139]:
energy_df.head(50)

,Energy Supply,Energy Supply per Capita,% Renewables,Country_M
Country,,,,
Afghanistan,3.210000e+08,10.0,78.669280,Afghanistan
Albania,1.020000e+08,35.0,100.000000,Albania
Algeria,1.959000e+09,51.0,0.551010,Algeria
American Samoa,NaN,NaN,0.641026,American Samoa
Andorra,9.000000e+06,121.0,88.695650,Andorra
Angola,6.420000e+08,27.0,70.909090,Angola
Anguilla,2.000000e+06,136.0,0.000000,Anguilla
Antigua and Barbuda,8.000000e+06,84.0,0.000000,Antigua and Barbuda
Argentina,3.378000e+09,79.0,24.064520,Argentina
Armenia,1.430000e+08,48.0,28.236060,Armenia
Aruba,1.200000e+07,120.0,14.870690,Aruba
Australia1,5.386000e+09,231.0,11.810810,Australia1
Austria,1.391000e+09,164.0,72.452820,Austria
Azerbaijan,5.670000e+08,60.0,6.384345,Azerbaijan
Bahamas,4.500000e+07,118.0,0.000000,Bahamas
Bahrain,5.740000e+08,425.0,0.000000,Bahrain
Bangladesh,1.625000e+09,10.0,1.966329,Bangladesh
Barbados,1.900000e+07,69.0,0.000000,Barbados
Belarus,1.142000e+09,120.0,0.463389,Belarus
Belgium,2.338000e+09,210.0,9.959739,Belgium
Belize,1.300000e+07,39.0,64.690030,Belize
Benin,1.700000e+08,16.0,0.000000,Benin
Bermuda,6.000000e+06,88.0,0.000000,Bermuda
Bhutan,6.300000e+07,83.0,100.000000,Bhutan
Bolivia (Plurinational State of),3.360000e+08,32.0,31.477120,Bolivia (Plurinational State of)
"Bonaire, Sint Eustatius and Saba",5.000000e+06,213.0,0.000000,"Bonaire, Sint Eustatius and Saba"
Bosnia and Herzegovina,2.660000e+08,70.0,41.464670,Bosnia and Herzegovina
Botswana,8.600000e+07,39.0,0.131406,Botswana
Brazil,1.214900e+10,59.0,69.648030,Brazil
British Virgin Islands,2.000000e+06,85.0,0.000000,British Virgin Islands
Brunei Darussalam,1.270000e+08,310.0,0.045434,Brunei Darussalam
Bulgaria,7.030000e+08,97.0,17.234610,Bulgaria
Burkina Faso,1.640000e+08,10.0,14.500680,Burkina Faso
Burundi,5.800000e+07,6.0,86.792450,Burundi
Cabo Verde,7.000000e+06,15.0,21.227620,Cabo Verde
Cambodia,2.500000e+08,17.0,57.311590,Cambodia
Cameroon,3.070000e+08,14.0,70.886260,Cameroon
Canada,1.043100e+10,296.0,61.945430,Canada
Cayman Islands,8.000000e+06,131.0,0.000000,Cayman Islands
Central African Republic,2.300000e+07,5.0,85.635360,Central African Republic
Chad,7.700000e+07,6.0,0.000000,Chad
Chile,1.613000e+09,92.0,28.006570,Chile
China2,1.271910e+11,93.0,19.754910,China2
"China, Hong Kong Special Administrative Region3",5.850000e+08,82.0,0.000000,"China, Hong Kong Special Administrative Region3"
"China, Macao Special Administrative Region4",4.700000e+07,83.0,0.000000,"China, Macao Special Administrative Region4"
Colombia,1.513000e+09,32.0,63.002840,Colombia
Comoros,5.000000e+06,7.0,11.627910,Comoros
Congo,1.020000e+08,23.0,57.748870,Congo
Cook Islands,1.000000e+06,48.0,0.000000,Cook Islands
Costa Rica,2.220000e+08,47.0,88.736420,Costa Rica

In [55]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
Energy Supply               222 non-null float64
Energy Supply per Capita    222 non-null float64
% Renewables                227 non-null float64
Country                     227 non-null object
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

In [38]:
def gdp():
    GDP = pd.read_csv('world_bank.csv',skiprows=4)
    dicts = {'Korea, Rep.': 'South Korea', 
           'Iran, Islamic Rep.': 'Iran',
           'Hong Kong SAR, China': 'Hong Kong'}
    GDP['Country_M'] = GDP['Country Name']
    GDP = GDP.set_index('Country Name')
    for country in GDP.index:
        for key,value in dicts.items():
            if(country==key):
                GDP.set_value(country,'Country_M',value)
    GDP.reset_index(drop=True,inplace=True)
    GDP.columns = ['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961',
           '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
           '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
           '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
           '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
           '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
           '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
           'Country']
    GDP_col_needed = list(np.arange(2006,2016,1))
    GDP_col_needed = list(map(str,GDP_col_needed))
    GDP_col_needed.append('Country')
    GDP_DF2 = GDP[GDP_col_needed]
    return GDP_DF2

In [56]:
GDP_df = gdp()

In [57]:
GDP_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 11 columns):
2006       237 non-null float64
2007       237 non-null float64
2008       238 non-null float64
2009       238 non-null float64
2010       243 non-null float64
2011       238 non-null float64
2012       237 non-null float64
2013       237 non-null float64
2014       230 non-null float64
2015       214 non-null float64
Country    264 non-null object
dtypes: float64(10), object(1)
memory usage: 22.8+ KB

In [58]:
GDP_df.iloc[[0,-1]]

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Country
0,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN,Aruba
263,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10,Zimbabwe

In [42]:
def scimen():
    ScimEn = pd.read_excel('scimagojr-3.xlsx')
    return ScimEn

In [59]:
ScimEn_df = scimen()

In [60]:
ScimEn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
Rank                      191 non-null int64
Country                   191 non-null object
Documents                 191 non-null int64
Citable documents         191 non-null int64
Citations                 191 non-null int64
Self-citations            191 non-null int64
Citations per document    191 non-null float64
H index                   191 non-null int64
dtypes: float64(1), int64(6), object(1)
memory usage: 12.0+ KB

In [61]:
ScimEn_df.iloc[[0,-1]]

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.7,138
190,191,Mauritania,1,1,1,0,1.0,1

## Question-1:

In [82]:
def answer_one():
    energy_df, GDP_df, ScimEn_df = energy(), gdp(), scimen()
    tdf = pd.merge(energy_df,GDP_df,how='inner',left_on='Country',right_on='Country')
    tdf = pd.merge(tdf,ScimEn_df,how='inner',left_on='Country',right_on='Country')
    return tdf

In [83]:
a = answer_one()

In [84]:
a.shape

(152, 21)

In [114]:
ScimEn_df[ScimEn_df.Rank==14]

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
13,14,Australia,8831,8725,90765,15606,10.28,107

In [115]:
energy_df[energy_df['Country']=='Australia']

Empty DataFrame
Columns: [Energy Supply, Energy Supply per Capita, % Renewables, Country]
Index: []

In [116]:
GDP_df[GDP_df['Country']=='Australia']

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Country
11,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,Australia

In [130]:
energy.head(50)

AttributeError: 'function' object has no attribute 'head'